<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Write the new chat here..</h3>
 <form method="post" action="/chats">
    <input type="text" placeholder="Send by" name="from">
    <br><br>
    <input type="text" placeholder="write your message" name="message">
    <br><br>
    <input type="text" placeholder="Recived by " name="to">
    <br><br>
    <button>Create Chat</button>
 </form>
</body>
</html>